#header {
	width: 100%;
	text-align: left;
	padding-left: 1em;
	border-bottom: 1em solid gray;
}

#container {
	padding:1em;
	margin-right: 1em;
}

#content {
	float:left;
	width: 92%;
	padding-left:2em;
	margin-top: 1em;
}

#menu {
	display:block;
	float:left;
	width: 8%;
	height: 100%;
}

#footer {
	color:gray;
	font-size: 0.8em;
	padding: 1em;
	text-align: right;
	clear:both;
}

table {
	table-layout: fixed;
	white-space: nowrap;
}

table td {
	overflow: hidden;	
}

th.edit {
	width: 5%;
}

th.del {
	width: 2%
}

table td {
	width: 20%;
}

.text-danger {
	margin:0.5em;
}

td a.btn{
	display:block;
	width:1.5em;
	height:1.5em;
}


